.tool-item {
    border: 1px solid rgba(250, 95, 254, 0.85);
    padding: 12px 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    min-width: 18%;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 30%;

    @media only screen and (max-width: 1160px) {
        min-width: 23%;
    }

    @media only screen and (max-width: 990px) {
        width: 46%;
        height: 70px;
    }

    @keyframes fade-in{
        from{ scale: .7; opacity: 0;}
        to{scale: 1; opacity: 1;}
    }

    p {
        width: 100%;
        text-align: center;
    }

    img {
        max-width: 45px;
        margin-left: 10px;

        @media only screen and (max-width: 600px) {
            max-width: 30px;
            margin-left: 5px;
        }
    }
}
