@import '../../assets/main.scss';

.tools-component {
    padding: 100px;

    @media only screen and (min-width: 1400px) {
        padding: 100px 200px;
    }

    @media only screen and (max-width: 640px) {
        padding: 100px 20px;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    svg {
        margin-left: 10px;
        font-size: 45px;
    }
}

.pink-text{
    color: $pink;
}

.tool-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;

    @media only screen and (max-width: 990px) {
     justify-content: center;
     gap: 20px;
    }
}

.tool-item {
    border: 1px solid rgba(250, 95, 254, 0.85);
    padding: 12px 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    min-width: 18%;
    transition-timing-function: ease;
    /* Also the same as */
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

    @media only screen and (max-width: 1160px) {
        min-width: 23%;
    }

    @media only screen and (max-width: 990px) {
        width: 46%;
        height: 70px;
    }

    p {
        width: 100%;
        text-align: center;
    }

    img {
        max-width: 45px;
        margin-left: 10px;

        @media only screen and (max-width: 600px) {
            max-width: 30px ;
            margin-left: 5px ;
        }
    }
}