@import '../../assets/main.scss';

.container-fluid{
    display: flex;
}

.navbar-collapse {
    justify-content: right;
    margin-right: 15px;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    color: #fff !important;
    display: block;
    padding: 12px 10px 7px 10px;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-size: 1.2rem !important;
    font-weight: 500;
}

button:focus{
    outline: none;
}

svg {
    margin-right: 8px;
    color: $white;
}



@media (min-width: 768px) {
    button {
        background: $button-blue;
        color: $white;
        border-radius: 5px;
        border: none;
        padding-left: 14px;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.9);
        font-size: 19px;
        height: 50px;

        svg {
            margin-left: 10px;
        }
    }

    .navbar .nav-item a:hover:after {
        width: 100%;
    }

   .navbar .nav-item a::after {
        background-color: $pink;
        border-radius: 16px;
        bottom: 1px;
        content: "";
        display: block;
        height: 5px;
        left: 0;
        position: relative;
        transition: all .3s ease-out 0s;
        width: 0;
        z-index: -1;
    }

    a.active {
        font-weight: 700;
    }

    .sticky {
        backdrop-filter: blur(3px);
        background-color: $navbar-gradient;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
    }
}

@media (max-width: 768px) {
    .navbar {
        height: 60px;
        padding: 0px;
    }

    .navigationLinks{
        width: 100vw;
    }

    .container-fluid {
        justify-content: end !important;
        background: $navbar-gradient;
    }

    .navbar-toggler {
        height: 60px;
        line-height: 60px;
        border: unset;
        padding: 0 1.5rem 0 0;
        font-size: 30px;
    }
    
    .nav-link{
        padding: 0 0 20px 0;
    }
}
